{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application.",
  "Parameters": {    
    "KeyStack": {
      "Description": "Name of stack used to create environment key for decryption. Example: WhetstoneKey-Dev",
      "Type": "String",
      "Default": "WhetstoneKey-Dev",
      "AllowedPattern": "^[a-zA-Z]+[0-9a-zA-Z\\-]*$"
    },
    "PolicyStack": {
      "Description": "Name of stack used to create supplemental policies. Example: WhetstoneSharedPolicies-Dev",
      "Type": "String",
      "Default": "WhetstoneSharedPolicies-Dev",
      "AllowedPattern": "^[a-zA-Z]+[0-9a-zA-Z\\-]*$"
    },
    "BucketStack": {
      "Description": "Name of stack used to create the Story Engine bucket. Example: WhetstoneBucket-Dev",
      "Type": "String",
      "Default": "WhetstoneBucket-Dev",
      "AllowedPattern": "^[a-zA-Z]+[0-9a-zA-Z\\-]*$"
    },
    "LambdaNetSerializerDebug": {
      "Type": "String",
      "AllowedValues": [
        "true",
        "false"
      ],
      "Description": "Indicates if the lambda serialization is enabled or not.",
      "Default": "false"
    },
    "CodeDeployRule": {
      "AllowedValues": [
        "AllAtOnce",
        "Linear10PercentEvery1Minute",
        "Linear10PercentEvery2Minutes",
        "Linear10PercentEvery3Minutes",
        "Linear10PercentEvery10Minutes",
        "Canary10Percent5Minutes",
        "Canary10Percent10Minutes"
      ],
      "Default": "AllAtOnce",
      "Description": "Determine whether or not to use a blue/green deployment when pushing out this lambda",
      "Type": "String"
    },
    "CustomActionLambdaStack": {
      "Description": "Stack that defines lambdas for custom resources",
      "Type": "String",
      "Default": "Whetstone-LambdaCustomActions-Dev"
    },
    "VersionDescription":{
         "Type":"String",
         "Description":"Associate the deployed version with the build",
         "Default":"Out of band"
    },
    "DynamoDBMaxRetries": {
      "Type": "Number",
      "Description": "Number of times DynamoDB will retry the operation before abandoning.",
      "Default": "3"
    },
    "DynamoDBTimeout": {
      "Type": "Number",
      "Description": "How many milliseconds the DynamoDB request will wait before timing out.",
      "Default": "2000"
    },
    "AudioTempFolder":{
        "Type":"String",
        "Description":"Temp folder to use for copying and converting audio files",
        "Default":"/tmp"
    },
    "FFMpegPath":{
        "Type":"String",
        "Description":"Folder to use for copying and converting audio files",
        "Default":"/opt/ffmpeg"
    }
  },

  "Resources": {
    "KeyPolicyUpdate":{
         "Type":"AWS::CloudFormation::CustomResource",
         "DependsOn": [
         "AudioProcessorLambdaRole"
         ],
         "Properties":{
            "ServiceToken":{
               "Fn::ImportValue":{
                  "Fn::Sub":"${CustomActionLambdaStack}-KeyPolicyUpdateArn"
               }
            },
            "Key":{
               "Fn::ImportValue":{
                  "Fn::Sub":"${KeyStack}-EnvironmentKeyArn"
               }
            },
            "RoleArn":{
               "Fn::GetAtt":[
                  "AudioProcessorLambdaRole",
                  "Arn"
               ]
            },
            "GrantType":"Decrypt"
         }
      },
    "AudioProcessorLambdaRole":{
        "Type":"AWS::IAM::Role",
         "Properties":{
            "Path":{
                "Fn::Join":[
                    "",
                    [
                        "/",
                        {
                        "Fn::ImportValue":{
                            "Fn::Sub":"${KeyStack}-EnvironmentName"
                        }
                        },
                        "/"
                    ]
                ]
            },
            "AssumeRolePolicyDocument":{
                "Version":"2012-10-17",
                "Statement":[
                    {
                        "Action":"sts:AssumeRole",
                        "Effect":"Allow",
                        "Principal":{
                        "Service":"lambda.amazonaws.com"
                        }
                    }
                ]
            },
            "ManagedPolicyArns":[
               {
                  "Fn::ImportValue":{
                     "Fn::Sub":"${PolicyStack}-BootstrapConfigPolicy"
                  }
               },
               {
                  "Fn::ImportValue":{
                     "Fn::Sub":"${BucketStack}-BucketReaderPolicy"
                  }
               },
               {
                  "Fn::ImportValue":{
                     "Fn::Sub":"${BucketStack}-BucketWriterPolicy"
                  }
               },
               "arn:aws:iam::aws:policy/service-role/AmazonAPIGatewayPushToCloudWatchLogs",
               "arn:aws:iam::aws:policy/service-role/AWSLambdaVPCAccessExecutionRole"
            ]
        }
    },
    "AudioProcessorFunction": {
      "Type": "AWS::Serverless::Function",
      "DependsOn": [
      "AudioProcessorLambdaRole"
      ],
      "Properties": {
        "Handler": "Whetstone.StoryEngine.AudioProcessor.Lambda::Whetstone.StoryEngine.AudioProcessor.Lambda.AudioProcessorEntry::FunctionHandler",
        "Runtime": "dotnetcore3.1",        
        "MemorySize": 256,
        "Timeout": 30,
        "Role":{
            "Fn::GetAtt":[
                "AudioProcessorLambdaRole",
                "Arn"
            ]
        },
        "AutoPublishAlias":"LIVE",
        "DeploymentPreference":{
            "Enabled":true,
            "Type":{
                "Ref":"CodeDeployRule"
            }
        },
        "VersionDescription":{
               "Fn::Sub":"${VersionDescription}"
            },
        "Layers": [
          "arn:aws:lambda:us-east-1:940085449815:layer:ffmpeg:1"
        ],
        "Environment": {
          "Variables": {
            "DOTNET_SHARED_STORE":"/opt/dotnetcore/store/",
            "BOOTSTRAP":{
                "Fn::ImportValue":{
                "Fn::Sub":"${PolicyStack}-BootstrapParameter"
                }
            },
            "LAMBDA_NET_SERIALIZER_DEBUG":{
                "Ref":"LambdaNetSerializerDebug"
            },
            "DYNAMODBMAXERRORRETRIES": {
            "Ref": "DynamoDBMaxRetries"
            },
            "DYNAMODBTIMEOUT": {
            "Ref": "DynamoDBTimeout"
            },
            "AUDIOTEMPFOLDER": {
            "Ref": "AudioTempFolder"
            },
            "FFMPEGPATH": {
            "Ref": "FFMpegPath"
            }
          }
        }
      }
    }
  },  
  "Outputs": {
    "AudioProcessorLambdaArn": {
      "Description": "Arn of the audio processor lambda",
      "Value": {
        "Fn::GetAtt": [
            "AudioProcessorFunction",
            "Arn"
        ]
      },
      "Export": {
        "Name": {
          "Fn::Sub": "${AWS::StackName}-AudioProcessorLambdaArn"
        }
      }
    },
    "AudioProcessorLambdaLiveArn": {
      "Description": "Arn of the audio processor lambda live alias",
      "Value": {
        "Fn::Sub": [
          "${lambdaArn}:LIVE",
          {
            "lambdaArn": {
              "Fn::GetAtt": [
                  "AudioProcessorFunction",
                  "Arn"
              ]
            }
          }
        ]
      },
      "Export": {
        "Name": {
          "Fn::Sub": "${AWS::StackName}-AudioProcessorLambdaLiveArn"
        }
      }
    }
  }
}